# State Government Budget Analysis

The purpose of this analysis is to determine what affect the covid stimulus packages had on the Australian Government budgets.

We hope to:

- Find the relevant data
- Clean the data
- Render a powerful visual with MatplotLib to be shared

In [5]:
import pandas as pd

In [13]:
nsw = pd.read_excel("data/2023-24-Budget-Financial-statements.xlsx",
                    sheet_name="GG Balance Sheet",
                   skiprows=3)

nsw.rename(columns={"Unnamed: 1": "P&L Criteria"}, inplace=True)

nsw

,Unnamed: 0,P&L Criteria,June 2022,June 2023,2024-06-01 00:00:00,2025-06-01 00:00:00,2026-06-01 00:00:00,2027-06-01 00:00:00
0,NaN,NaN,Actual,Est. Actual,Budget,Forward Estimates,NaN,NaN
1,NaN,NaN,$m,$m,$m,$m,$m,$m
2,NaN,Assets,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Financial Assets,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Cash and Cash Equivalents,3216,6344,244,262,271,263
5,NaN,Receivables,12093,12161,11691,12224,14772,14617
6,NaN,"Investments, Loans and Placements",NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Financial Assets at Fair Value,44572,48383,49393,54454,61570,69567
8,NaN,Other Financial Assets,3598,2378,2533,2774,2734,2347
9,NaN,Advances Paid,1185,936,995,1045,983,940
10,NaN,Tax Equivalents Receivable,29,94,61,82,74,92
11,NaN,Deferred Tax Equivalents,2985,3607,3407,3478,3550,3628
12,NaN,Equity,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Investments in Other Public Sector Entities,117025,127384,125876,125728,132703,136110
14,NaN,Investments in Associates,8805,8841,8831,8598,8477,8245
15,NaN,Other,6,15,15,15,15,15
16,NaN,Total Financial Assets,193513,210143,203046,208662,225149,235824
17,NaN,Non-Financial Assets,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Contract Assets,53,77,499,500,501,501
19,NaN,Inventories,1307,1088,1148,1163,1188,1176
20,NaN,Forestry Stock and Other Biological Assets,23,16,16,16,16,16
21,NaN,Assets Classified as Held for Sale,62,151,151,151,151,151
22,NaN,"Property, Plant and Equipment",NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Land and Buildings,116737,130360,134858,140070,143790,146528
24,NaN,Plant and Equipment,13530,14894,15097,14949,14640,14061
25,NaN,Infrastructure Systems,171990,204162,216252,225261,233985,242534
26,NaN,Right of Use Assets,7174,6185,6174,6192,5903,6055
27,NaN,Intangibles,4774,5176,5472,5415,5134,4858
28,NaN,Other,1386,2073,1906,1897,1898,1899
29,NaN,Total Non-Financial Assets,317036,364183,381572,395613,407205,417779
30,NaN,Total Assets,510549,574325,584618,604275,632355,653603
31,NaN,Liabilities,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Deposits Held,353,327,328,328,327,327
33,NaN,Payables,9700,9956,9876,10000,10143,10159
34,NaN,Contract Liabilities,873,858,848,848,851,854
35,NaN,Borrowings and Derivatives at Fair Value,14,17,17,17,17,17
36,NaN,Borrowings at Amortised Cost,107441,132079,144999,158770,172673,186028
37,NaN,Advances Received,545,492,445,395,356,315
38,NaN,Employee Provisions,23603,25402,27198,28158,29326,30353
39,NaN,Superannuation Provision(a),43556,40804,42686,41631,40461,39183
40,NaN,Tax Equivalents Payable,57,73,0,0,0,0
41,NaN,Deferred Tax Equivalent Provision,50,42,48,48,48,49
42,NaN,Other Provisions,15355,16572,16225,16179,16178,16357
43,NaN,Other,22282,21603,21342,21469,23438,22923
44,NaN,Total Liabilities,223828,248224,264011,277843,293818,306566
45,NaN,NET ASSETS,286722,326101,320606,326432,338537,347037
46,NaN,NET WORTH,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Accumulated Funds,76924,72606,63348,66371,69423,72557
48,NaN,Reserves,209798,253495,257258,260061,269114,274481
49,NaN,TOTAL NET WORTH,286722,326101,320606,326432,338537,347037
50,NaN,OTHER FISCAL AGGREGATES,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Net Debt(b),55781,74873,92624,100974,107815,113571
52,NaN,Net Financial Liabilities(c),147340,165465,186841,194909,201372,206852
53,NaN,Net Financial Worth(d),-30315,-38081,-60966,-69181,-68668,-70742
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,Notes:,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,(a) The superannuation provision is reported n...,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,(b) Net debt comprises the sum of deposits hel...,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,(c) Net financial liabilities equals total lia...,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,(d) Net financial worth equals total financial...,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nsw_net_worth = nsw[nsw["P&L Criteria"] == "Net Financial Worth(d)"]
nsw_net_worth

,Unnamed: 0,P&L Criteria,June 2022,June 2023,2024-06-01 00:00:00,2025-06-01 00:00:00,2026-06-01 00:00:00,2027-06-01 00:00:00
53,NaN,Net Financial Worth(d),-30315,-38081,-60966,-69181,-68668,-70742